@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

@font-face {
  font-family: Archive;
  src: url(fonts/Archive.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}


body {
  font-family: Archive, sans-serif;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 51, 0.90);
}

.modal_content {
  background: url("./images/background_next.png") no-repeat;
  background-size: cover;
  padding: 0 20px;
  text-align: center;
  width: 532px;
  height: 282px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close_icon {
  position: absolute;
  top: -75px;
  right: -5px;
  cursor: pointer;
  color: #79E7FF;
  font-size: 78px;
  font-family: Roboto sans-serif;
}

.close_icon:hover,
.close_icon:focus {
  color: #FF79FA;
}

.modal_content__text {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}

.content_text {
  text-align: center;
  font-family: Archive;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
}

.content_text_wrapper {
  width: 80%;
  background: #FFFFFF;
  border-radius: 6px;
}

.text_white {
  color: #FFF;
}

.text_blue {
  color: #1B199E;
}

.modal_arrowContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal_arrowContainer__arrow {
  width: 31px;
  height: 22px;
}

.telegram_btn {
  width: 380px;
  height: 63px;
  flex-shrink: 0;
  background: #79E7FF;
  position: absolute;
  bottom: -35px;
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.telegram_icon {
  width: 25px;
  height: 21px;
  flex-shrink: 0;
}

.telegram_text {
  color: #0A0B57;
  text-align: center;
  font-family: PT Sans, Serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.telegram_btn:hover {
  background: #FFFFFF;
}

@media screen and (max-width: 560px) {
  .modal_content {
    width: 95%;
  }
  .modal_content__text {
  }
  .telegram_btn {
    width: 267px;
  }
  .telegram_text {
    font-size: 20px;
    line-height: 48px;
  }
}

@media screen and (max-width: 460px) {
  .close_icon {
    right: auto;
  }
  .content_text {
    font-size: 30px;
    line-height: 48px;
  }
}

